.seccion-formulario {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 1px 0 4px rgb(0, 0, 0, .2);
    margin: 25px;
}

h3{
    text-align: center;
}

/* Ajusta las flechas del carrusel a los extremos */
.carousel-control-prev {
    left: 0; /* Pegado al borde izquierdo */
    margin-left: -15px; /* Ajuste fino para posición */
}

.carousel-control-next {
    right: 0; /* Pegado al borde derecho */
    margin-right: -15px; /* Ajuste fino para posición */
}

/* Estilo opcional para hacerlas más visibles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Fondo negro */
    border-radius: 50%; /* Forma circular */
    padding: 20px; /* Tamaño */
    background-size: 50% 50%; /* Tamaño del icono */
}

.carousel-inner{
    width: 72%;
    margin: 0 auto;
}

.animal-grid {
            margin-top: 15px;
            width: 100%;
            border-collapse: collapse;
        }
        
.animal-grid th, .animal-grid td {
    border: 1px solid #000000;
    padding: 4px 8px;   /* Reduce espacio interno */
    line-height: 1.2;   /* Reduce altura de línea */
    vertical-align: middle;
    text-align: left;
    font-size: 13px;
}
        
.animal-grid th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}
        
.animal-grid tr:nth-child(even) {
    background-color: #f9f9f9;
}

.animal-grid tr:hover {
    background-color: #efefef;
}